<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIK2J7/&amp;placement=interactjsio" id="_carbonads_js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs@1.3.4/dist/interact.min.js"></script>
</head>

<body>
  <div>
    
  </div>
  <div id="drag-1" class="draggable">
  <p> You can drag one element </p>
</div>
<div id="drag-2" class="draggable">
  <p> with each pointer </p>
</div>
</body>
</html>
